//COLORS
$white-color: #ffff;
$black-color: #232323;
$black-light-color: #666666;
$primary-color: #0078FF;
$blue-dark-color: #002147;
$gray-color: #E9EDF7;
$gray-light-color: #F7F7F7;
$gold-color: #fec42d;